link(rel="stylesheet", href="/css/top.css")
div.topBar
	span.topLabel1 Proof of
	span.topLabel2 Github
	div.topButtonContainer
		div.topButtonInnerContainer
			div.topButtonInnerInnerContainer
				button.topButton.homeButton Home
			div.topButtonInnerInnerContainer
				button#verifyButton.topButton.verifyButton Check